---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingTime } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import LinkToFile from "@components/custom/LinkToFile.astro";
import CopyText from "@components/custom/CopyText.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/blog">
        Back to Posts
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
        <LinkToFile slug={post.slug} latex={post.data.latex} pdf={post.data.pdf} />
		&bull;
		<CopyText text={"本文已收录于 c13n ([c13n.club](https://c13n.club))。\n\n" + post.body + "\n\n👇点击 **阅读原文** 查看网页版"} />
      </div>
      <div class="animate text-3xl font-semibold text-black dark:text-white">
        {post.data.title}
		<span class="inline-block w-0 h-px overflow-hidden">|</span>
		<span class="inline-block w-0 h-px overflow-hidden">c13n</span>
      </div>
    </div>
    <article class="animate">
      <Content />
    </article>
  </Container>
</PageLayout>